<!DOCTYPE html>
<html>
<head>

  <title>Housing First</title>
  <%= stylesheet_link_tag 'bootstrap.min' %>
  <%= stylesheet_link_tag 'navbar' %>
  <%= stylesheet_link_tag 'custom' %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="container">
       <%= render template: 'layouts/nav' %>
<%= yield %>
    </div>
</body>
</html>
